rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. ZONA PRIVADA: Datos del usuario (Bitácora personal)
    // Solo el dueño puede ver y editar sus viajes.
    match /usuarios/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // 2. ZONA COMPARTIDA: Caché Global de Fotos (paises_info)
    // Cualquier usuario logueado puede consultar el catálogo de fotos o aportar una nueva si no existe.
    // Esto es clave para la eficiencia: "Uno busca, todos se benefician".
    match /paises_info/{paisCode} {
      allow read, write: if request.auth != null;
    }
  }
}