body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body, .app-container, .pagina-pasaporte {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
}