:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET CRÍTICO PARA EVITAR SCROLLS */
* {
  box-sizing: border-box; /* Fundamental: Padding no suma al ancho */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Bloqueamos scroll en la raíz */
  background-color: #F8FAFC;
}

/* Scrollbars personalizadas y bonitas */
.custom-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #94A3B8;
}

/* Utilidad para inputs sin estilo */
input:focus, textarea:focus, button:focus {
  outline: none;
}